CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_SYS_THUMB_BUILD=y
CONFIG_SYS_TEXT_BASE=0x87800000
CONFIG_TARGET_SOMLABS_VISIONSOM_6ULL=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/somlabs/visionsom-6ull/imximage.cfg,MX6ULL,IMX_NAND"
CONFIG_BOOTDELAY=5
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_OF_CONTROL=y
CONFIG_VERSION_VARIABLE=y
CONFIG_DEFAULT_DEVICE_TREE="somlabs-visionsom-6ull-nand"
CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG=y
CONFIG_CMD_ASKENV=y
CONFIG_DM_GPIO=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_VIDEO=y
CONFIG_MTDIDS_DEFAULT="nand0=gpmi-nand"
CONFIG_MFG_NAND_PARTITION="mtdparts=gpmi-nand:2m(boot),-(ubi)"
CONFIG_BOOTARGS_CMA_SIZE=""
CONFIG_CMD_BMP=y
CONFIG_CMD_CACHE=y
CONFIG_ENV_IS_IN_NAND=y
CONFIG_NAND=y
CONFIG_NAND_MXS=y
CONFIG_NAND_MXS_DT=y
CONFIG_DFU_NAND=y
CONFIG_CMD_UBI=y
CONFIG_MTD_UBI_FASTMAP=y
CONFIG_UBI_SILENCE_MSG=y
CONFIG_UBIFS_SILENCE_MSG=y
CONFIG_RBTREE=y
CONFIG_LZO=y
CONFIG_APBH_DMA=y
CONFIG_APBH_DMA_BURST=y
CONFIG_APBH_DMA_BURST8=y
CONFIG_CMD_MTDPARTS=y
CONFIG_MTD=y
CONFIG_MTD_PARTITIONS=y
CONFIG_MTD_DEVICE=y
CONFIG_CMD_NAND=y
CONFIG_CMD_NAND_TRIMFFS=y
CONFIG_CMD_NAND_TORTURE=y