if TARGET_VISIONSOM_IMX93

config SYS_BOARD
	default "visionsom-imx93"

config SYS_VENDOR
	default "somlabs"

config SYS_CONFIG_NAME
	default "visionsom-imx93"

config IMX93_EVK_LPDDR4X
	bool "Using LPDDR4X Timing and PMIC voltage"
	default y
	select IMX9_LPDDR4X
	help
	  Select the LPDDR4X timing and 0.6V VDDQ

endif
